#exper {
  display: flex;
  justify-content: center;
  align-items: center;
}
#exper > div {
  margin-top: 100px;
  padding: 50px;
  padding-top: 0;
}
#exper > div h1 {
  height: 120px;
  width: 400px;
  line-height: 120px;
  text-align: center;
  margin: 0px auto;
}
#exper > div .exper-3 {
  height: 50px;
  width: 700px;
  display: flex;
  line-height: 50px;
  margin: 50px auto;
}
#exper > div .exper-3 span {
  flex-grow: 1;
  text-align: center;
  border: 1px solid #707070;
}
#exper > div .exper-3 span:nth-child(1) {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
#exper > div .exper-3 span:nth-child(3) {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

#exper > div .exper-2 {
  display: flex;
  align-items: center;
}
#exper > div .exper-2 div {
  width: 700px;
  height: 120px;
  padding: 15px;
  background-color: #707070;
}

#exper > div .exper-2 div p {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background-color: #fff;
  font-size: 25px;
  text-align: center;
  

}
#exper > div .exper-2 > p {
  padding-left: 100px;
  line-height: 40px;
}
