#about {
  width: 100%;
  padding-top: 100px;
  margin-top: 100px;
  height: 548px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#about > div {
  display: flex;
  flex-direction: column;
  padding: 50px 0px;
  background-color: transparent;
}
#about .about {
  height: 75%;
  display: flex;
  gap: 100px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px 70px;
}
#about > div > p {
  z-index: 11;
  max-width: 350px;
  max-height: 210px;
  margin-bottom: -100px;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 25px 0;
}
.about > div {
  display: flex;
  align-items: center;
  gap: 100px;
  justify-content: flex-end;
}
.about > div > div {
  width: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about > div > div img {
  width: 30px;
  height: 30px;
}

.about > div span {
  width: 200px;
  height: 100px;
  border: 1px solid #707070;
  line-height: 100px;
  text-align: center;
  font-size: 45px;
  transition: 0.3s ease;
  font-weight: 600;
  color: #707070;
}
.about > div span:hover {
  color: #000;
}
.about p {
  overflow: auto;
  max-height: 100px;
  font-size: 19px;
  line-height: 25px;
  padding: 10px 10px;
  border: 1px solid #707070;
}
