#shedule {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
#shedule > div {
  background-color: rgba(70, 70, 70, 0.1);
}
#shedule > div > div {
  display: flex;
  flex-direction: column;
}
#shedule > div > h1 {
  height: 120px;
  width: 400px;
  line-height: 120px;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 50px;
}
.courseTime {
  display: flex;
  flex-direction: column;
}
.s-e-course {
  display: flex;
  justify-content: space-between;
  padding: 20px 150px;
  align-items: center;
}
.s-e-course > div h3 {
  font-size: 20px;
  font-weight: 700;
}
.s-e-course > div {
  display: flex;
  align-items: center;
}
.s-e-course > div p {
  font-size: 25px;
  letter-spacing: 5px;
  color: #707070;
}
.s-e-course > div span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #707070;
  border: 1px solid #000;
}
.s-e-course > div span:first-of-type {
  background-color: #fff;
  margin-left: 100px;
}
.s-e-course > div span:last-of-type {
  background-color: #707070;
  margin-right: 100px;
}

.date {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.date > h1 {
  font-size: 50px;
  background-color: #fff;
  padding: 10px 65px;
  border-radius: 2px;
}
.leftTime {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.leftTime span {
  background-color: #000;
  color: #fff;
  font-size: 30px;
  padding: 3px 7.5px;
  border-radius: 7px;
}
.leftTime p {
  font-size: 20px;
  padding: 3px 7.5px;
  border-radius: 7px;
}
.leftTime button {
  font-size: 18px;
  background-color: #f46632;
  border-radius: 7px;
  width: 250px;
  height: 35px;
  color: #fff;
  line-height: 18px;
  letter-spacing: 1px;
  border: none;
}
#shedule footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  padding: 30px 25px;
}
#shedule footer > div {
  height: 30px;
}
.s-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.s-media img {
  width: 40px;
  height: 40px;
}
.f-logo {
  font-size: 18px;
  font-weight: 600;
}
footer span {
  line-height: 30px;
  text-align: center;
}
